.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: url('../images/bg-desktop.svg') no-repeat;
    background-size: cover;
    z-index: -1;
    
    @include respond(tab-land) {
        background-image: url('../images/bg-mobile.svg');
    }
    
    @include respond(tab-port) {
        background-size: contain;
    }
}